* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#263859;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    /* background-position: top center; */
    background-size: cover;
    font-family:'Poppins,sans-serif';
}
/* font-family: Arial, Helvetica, sans-serif; */

.app-main {
    width: 50vh;
    margin: 50px auto;
    background-color: rgba(240,248,255, 0.6);
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 10px 10px 20px 10px rgba(112,102,102,0.2);
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background: rgba(24,24,27, 0.6); */
    /* padding:20px; */
     border-radius: 10px; 
    /* margin: 10px 0; */
     border: 1px solid #eee;
 } 

/* https://images.unsplash.com/photo-1588420343618-6141b3784bce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGJsdWV8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60 */
.app-main > * {
    margin-bottom: 10px;
}

#input-box:hover{
    color:white;
    background:rgb(129, 212, 250);
    transition: all 0.4s ease 0s;
    border-color:black;
    transform:translate(0.25cm);

    
}

.input-box {
    width: 100%;
    background-color:rgba(255,255,255,0.6);
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.input-box:focus {
    background-color:rgba(255,255,255);
}


.weather-body {
    display: none;
    color: #582233;
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 10px;
    background-color: rgba(60,60,68,0.6);
    height: 45vh; 
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 30pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.t-icon{
    /* margin: 1rem; */
    width: 40%;
    height: 50%;
}

.min-max, .weather {
    font-size: 12pt;
    font-weight: 600;
}

.container{
/* background: rgba(24,24,27,0.8); */
    /* background:rgba(240,248,255, 0.6); */
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    /* height: 30%; */
}

.others {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
} 

.others .weather-items{
    padding: 10px 25px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    margin: 0 10px;
    border: 1px solid #eee;
    justify-content: space-between; 
 } 




    

.weather-item .w-humid{
display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 10px;
 border: 1px solid #eee;
 padding: 15px;
 border-radius: 10px;
 background: rgba(0,0,0,0.2)
}

.weather-item .pressure{
    /* padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center; */

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 10px;
 border: 1px solid #eee;
 padding: 15px;
 border-radius: 10px;
 background: rgba(0,0,0,0.2)
}

.weather-item .wind-speed{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 10px;
 border: 1px solid #eee;
 padding: 15px;
 border-radius: 10px;
 background: rgba(0,0,0,0.2)
}

.weather-item .sunrise{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 10px;
 border: 1px solid #eee;
 padding: 15px;
 border-radius: 10px;
 background: rgba(0,0,0,0.2)
}

.weather-item .sunset{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 10px;
 border: 1px solid #eee;
 padding: 15px;
 border-radius: 10px;
 background: rgba(0,0,0,0.2)
}


.humid{
    width: 30%;
    height:20%;
}

.press_ure{
    width: 30%;
    height:20%;
}

.w-speed{
    width: 30%;
    height:20%;
}

.s-rise{
    width: 30%;
    height:20%;
}

.s-set{
    width: 30%;
    height:20%;
}

 /* .weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
} */



@media only screen and  (max-width:730px){
    
   
    
    .container{
        justify-content: center;
        align-items: none;
        overflow-y: scroll;
    }

    

    

    

 }

@media only screen and (max-width: 1400px){
    .container{
        justify-content: center;
        align-items: none;
        overflow-x: scroll;
    }
}  

/* .future-forecast .today .temp{
    font-size: 16px;
} */
